body {
    background: lightsteelblue;
}

input {
    width: 60px;
}

h3
 {
    text-align: center;
}
h1{
    text-align:center;
    font-family: 'Kumar One Outline', cursive;
    font-size:75px;
}


table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}
